body{
    font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    font-family: 'yeseva one';
    font-weight: 400px;
    
}
.orange{
    color: rgb(22, 55, 243);
}
.green{
    color: rgb(255, 130, 47);
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    margin-top: 5%;
}
.half-width img{
    width: 70%;
}
.explore-now{
    text-decoration: none;
    background-color: lime;
    background-image: linear-gradient(pink green);
    padding: 10px 40px;
    border-radius: 5px;   
}.border-left{
    border-left: 5px solid;
    color: orange;
}
.mission{
    color: orchid;
}
.small{
    padding-left: 20px;
    font-style: italic;
    background-color: peru;
    margin-top: 10%;
}
.in-mission{
    text-align: center;
    font-size: 30px;
    font-style: initial;
    color: purple;
}
.half{
    font-size: 20px;
    
}
.half img{
    width: 50%;
}
.img{
    width: 40%;
    height: 70%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    background-color: rgba(175, 255, 47, 0.85);
    text-align: center;
}
.img2{
    width: 40%;
    height: 70%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 10px;
    background-color: rgba(255, 105, 180, 0.857);
    text-align: center;
}
.img3{
    width: 40%;
    height: 70%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 10px;
    background-color: lightsalmon;
    text-align: center;
}
.develop{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.develop2{
    margin-right: 70%;
}
.community{
    margin-left: 5%;
    
}
style{
    margin-top: 10px;
    
}
.container{
    background-color: rgba(0, 0, 0, 0.57);
    width: 500spx;
    height: 100px;
    border-radius: 10px;
    
}
.miss{
    color: blanchedalmond;
    font-size: 20px;
    font-family: inherit;
}
.glo{
    color: lawngreen;
}